<launch>
  <!-- Load the params from the yaml file -->
  <!-- <rosparam command="load" file="/home/vijendrachar/catkin_ws/src/ros_rover/params.yaml" /> -->

  <!-- Set the parameters mannually -->
  <param name="rover-wheel-radius" type="double" value="0.25" />
  <param name="pi-value" type="double" value="3.1415" />

  <!-- Launch nodes -->
  <node name="rover_rpm_publisher" pkg="ros_rover" type="rover_rpm.py" />
  <node name="rover_speed_subscriber_publisher" pkg="ros_rover" type="rover_speed_calc.py" />
  <node name="rover_speed_subscriber" pkg="ros_rover" type="rover_speed_display.py" output="screen" />
</launch>